@import url("../styles/Header.css");

.form-container {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 24rem;
}

.form-container p:nth-child(1) {
    font-family: 'Mukta';
    font-weight: 700;
    font-size: 40px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.input {
    transition: ease-in 0.2s;
}

input:hover,
select:hover {
    border: 1px solid rgb(0, 26, 14);
}

input:focus,
input:active,
select:focus,
select:active {
    outline: none;
    border: 1px solid rgb(0, 120, 64);
}

label {
    font-family: 'Mukta';
    font-size: 18px;
    color: gray;
}


@media (max-width: 765px) {
    .form-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .form-container p:nth-child(2) {
        font-size: 14px;
        line-height: 15px;
        font-weight: normal;
        padding-right: 12px;
    }
}